{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid overlay">

<div class="jumbo-heading">
<!-- section-heading -->
    <div class="section-heading" data-aos="zoom-in">
        <h1>Welcome, {{ profile.name }}!</h1>
        {% if request.user == profile.user %}
                <a class="btn btn-lg btn-outline-info" href="{% url 'profiles_update' user.id %}">Edit</a>
                <a class="btn btn-lg btn-outline-danger" href="{% url 'profiles_delete' user.id %}">Delete</a>
        {% endif %}
            <h3 class="text-white">Speak with other Adopters!</h3>
            <a class="btn btn-lg btn-outline-success" href="{% url 'chat-index' %}">Animal Chatroom</a>
    </div>
</div>
<!-- /jumbo-heading -->
</div>

{% endblock %}