{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron jumbotron-fluid overlay">
    <div class="jumbo-heading">
        <!-- section-heading -->
        <div class="section-heading" data-aos="zoom-in">
            <h1>Adoption Lobby Chatroom</h1>
            <form id="form">
            <textarea class="text-box text-danger" style="max-height: 55px; font-size: 28px;"
            placeholder="" id="floatingTextarea" readonly>Warning, No Profanity Filter ~_^!!</textarea>
            <label for="floatingTextarea" class="text-info"></label>
            <textarea class="text-box text-info" id="messages" readonly></textarea>
                {% comment %} <input class="text-box" type="text" name="message" /> {% endcomment %}
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text bg-black text-info border border-info" style="width: 12vw; margin-left: 11.7vw" id="inputGroup-sizing-sm">{{ user.username }}</span>
                    <input id="chat-input" type="text" name="message" class="form-control text-black bg-black" style="max-width: 63vw" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </form>
    </div>
    <!-- /section-heading -->
    </div>
</div>




<script type="text/javascript">

    let url = `ws://${window.location.host}/ws/socket-server/`

    const chatSocket = new WebSocket(url)

    let textBoxArea = document.querySelector('.text-box');
    const textBox = document.getElementById('console');
    let areaText = messages.value;

    chatSocket.onmessage = function(e) {
        let data = JSON.parse(e.data)
        console.log('Data:', data)

        if(data.type === 'chat') {
            let messages = document.getElementById('messages')
            let areaText = messages.value;

            messages.insertAdjacentHTML('beforeend', `
                ${data.username}: ${data.message}
                    `)
        }
    }

    let form = document.getElementById('form')
    form.addEventListener('submit', (e) => {
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'message': message
        }))
        form.reset()
    })

    let startScroll;
    let stopScroll;
    function textBoxScroll() {
        if (!startScroll) {
            startScroll = setInterval(textScroll, 1000);
            return
        }
    }

    function textScroll() {
        areaText += Math.random() + '\n';
        messages.scrollTop = messages.scrollHeight;
        return
    }

    function stopTextScroll() {
        clearInterval(startScroll);
        startScroll = null;
        return
    }
    textBoxScroll();

</script>

{% endblock %}