{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron jumbotron-fluid overlay">
    <div class="jumbo-heading">
        <div class="section-heading" data-aos="zoom-in">
<h1>Delete Profile</h1>

<h4 class="text-white">Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>

<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Yes - Delete!" class="btn">
    <a class="btn btn-info" href="{% url 'detail' object.user.id %}">Cancel</a>
</form>

</div></div></div>

{% endblock %}