{% extends 'base.html' %} {% load static %} {% block content %}

  <form method="post" action="">
    {% csrf_token %}
  <label for="type">Type</label>
  <select name="type" id="type" onchange="javascript: dynamicDropDown(this.options[this.selectedIndex].value);">
    <option value="">--Select--</option>
    <option value="Cat">Cat</option>
    <option value="Dog">Dog</option>
  </select>
  <label for="breed">Breed</label>
  <select name="breed" id="breed">
    <option value="">--Select a Type--</option>
  </select>
  <label for="color">Color</label>
  <select name="color" id="color">
    <option value="">--Select a Type--</option>
  </select>
  <label for="age">Age</label>
  <select name="age" id="age">
    <option value="">--Select--</option>
    <option value="baby">Baby</option>
    <option value="young">Young</option>
    <option value="adult">Adult</option>
    <option value="senior">Senior</option>
  </select>
  <label for="gender">Gender</label>
  <select name="gender" id="gender">
    <option value="">--Select--</option>
    <option value="male">Male</option>
    <option value="Female">Female</option>
  </select>
  <label for="coat">Coat</label>
  <select name="coat" id="coat">
    <option value="">--Select--</option>
    <option value="short">Short</option>
    <option value="medium">Medium</option>
    <option value="long">Long</option>
    <option value="wire">Wire</option>
    <option value="hairless">Hairless</option>
    <option value="curly">Curly</option>
  </select>
  <input type="submit" class="btn btn-primary" value="Submit">
  </form>

{% if animals|length > 0 %}
<h1 class="text-center">Animals</h1>
<table>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Breed</th>
    <th>Color</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Size</th>
    <th>Coat</th>
    <th>Photo</th>
  </tr>
  {% for animal in animals.animals %}
  <tr>
    <td>{{animal.type}}</td>
    <td><a href="{% url 'animals.detail' animal.id %}">{{animal.name}}</a></td>
    <td>{{animal.breeds.primary}}</td>
    <td>{{animal.colors.primary}}</td>
    <td>{{animal.age}}</td>
    <td>{{animal.gender}}</td>
    <td>{{animal.size}}</td>
    <td>{{animal.coat}}</td>
    <td>
      <img src="{{animal.photos.0.small}}" />
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<script>
  function dynamicDropDown(type) {
    switch (type) 
    {
      case "Cat":
        document.getElementById("breed").options[0] = new Option("--Select--", "");
        document.getElementById("breed").options[1] = new Option("British Shorthair", "British Shorthair");
        document.getElementById("breed").options[2] = new Option("Burmese", "Burmese");
        document.getElementById("breed").options[3] = new Option("Burmilla", "Burmilla");
        document.getElementById("breed").options[4] = new Option("Calico", "Calico");

        document.getElementById("color").options[0] = new Option("--Select--", "");
        document.getElementById("color").options[1] = new Option("Cream / Ivory", "Cream / Ivory");
        document.getElementById("color").options[2] = new Option("Dilute Calico", "Dilute Calico");
        document.getElementById("color").options[3] = new Option("Dilute Tortoiseshell", "Dilute Tortoiseshell");
        document.getElementById("color").options[4] = new Option("Gray & White", "Gray & White");
        break;
      case "Dog":
        document.getElementById("breed").options[0] = new Option("--Select--", "");
        document.getElementById("breed").options[1] = new Option("Affenpinscher", "Affenpinscher");
        document.getElementById("breed").options[2] = new Option("Afghan Hound", "Afghan Hound");
        document.getElementById("breed").options[3] = new Option("Airedale Terrier", "Airedale Terrier");
        document.getElementById("breed").options[4] = new Option("Akbash", "Akbash");

        document.getElementById("color").options[0] = new Option("--Select--", "");
        document.getElementById("color").options[1] = new Option("Bicolor", "Bicolor");
        document.getElementById("color").options[2] = new Option("Black", "Black");
        document.getElementById("color").options[3] = new Option("Brindle", "Brindle");
        document.getElementById("color").options[4] = new Option("Brown / Chocolate", "Brown / Chocolate");
        break;
    }

  }
</script>

{% endblock %}