{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- /nav --><!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid overlay">
   <div class="jumbo-heading">
      <!-- section-heading -->
      <div class="section-heading" data-aos="zoom-in">
         <h1>Sign Up</h1>
      </div>
   </div>
   <!-- /jumbo-heading -->
</div>
<!-- /jumbotron -->
<!-- ==== Page Content ==== -->
<div class="page">
   <div class="container">
      <div class="col-lg-8 offset-lg-2 text-center">
         <h3>Your journey to finding a new furry companion begins here</h3>
      </div>
      <div id="signupformbox" class="row">
         <!-- contact-info-->
         <div class="contact-info col-lg-5 petbox">
            {% if error_message %}
            <p class="red-text">{{ error_message }}</p>
            {% endif %}
            <form class="form pt-0" id="signupform" method="post" action="{% url 'signup' %}">
               {% csrf_token %}
               <label class="signupformfield">{{ form.first_name.label }}</label>
               {{ form.first_name }}
               <br><br>
               <label class="signupformfield">{{ form.last_name.label }}</label>
               {{ form.last_name }}
               <br><br>
               <label class="signupformfield">{{ form.email.label }}</label>
               {{ form.email }}
               <br><br>
               <label class="signupformfield">{{ form.username.label }}</label>
               {{ form.username }}
               <br><br>
               <label class="signupformfield">{{ form.password1.label }}</label>
               {{ form.password1 }}
               <br><br>
               <label class="signupformfield">{{ form.password2.label }}</label>
               {{ form.password2 }}
               <br><br>
               <input type="submit" id="submit_btn" class="btn btn-primary" value="sign up">
            </form>
         </div>
         <!-- /col-lg-->
      </div>
      <!-- /row-->
   </div>
   <!-- /container -->
</div>












{% endblock %}